*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    background-color: #010326;
}

.wrap{
    flex-wrap: wrap;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    transition: 1s;
    z-index:1000;
}

.navbar .close{
    position: absolute;
    top: 1rem;
    left: 2rem;
    z-index: 1000;
    font-size: 20px;
    cursor: pointer;
}

.active{
    top: 0;
    z-index: 2;
}

.navbar ul{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    transition: 1s;
}

.navbar ul li a:hover{
    color: crimson;
}

/* Banner */

#particles-js{
    background: url(./img/bg.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner i{
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 20px;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.banner-subtitles{
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    letter-spacing: 3px;
    position:absolute;
}

/* About */

.subtitle{
    font-family: "Shojumaru", sans-serif;
    letter-spacing: 3px;
    color: crimson;
}

.about-content img{
    width: 16rem;
    border-radius: 10px;
}

.about-content p{
    max-width: 400px;
    font-family: 'Poppins', sans-serif;
}

.social-icons a{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    margin-left: 10px;
    transition: all ease 0.3s;
}

.social-icons a:hover{
    color: red;
}

.btn1{
    padding: 10px;
    background-color: crimson;
    border: none;
    border-radius: 10px;
    transition: all ease 0.3s;
}

.btn1:hover{
    background-color: rgb(94, 8, 25);
}

.about-content button a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

/* Skills */

.skill-content{
    column-count: 4;
}

.box{
    width: 12rem;
    background-color: #1a1a1a;
    text-align: center;
    padding: 15px 8px;
    margin-bottom: 10px;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

.box img{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

/* Projects */

.projects .box2 h4{
    margin-bottom: 20px;
    margin-top: 10px;
}

.img-container{
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    width: 20rem;
    margin-bottom: 20px;
}

.img-container p{
    font-size: 20px;
}

.img-container a img{
    width: 100%;
    object-fit: contain;
}

/* Contact */

.contact i{
    font-size: 20px;
    color: crimson;
    width: 50px;
}

.subtitle-contact h4, p{
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

.contato-form{
    margin: auto;
}

.contato-form .inputbox input{
    padding: 10px;
    border: none;
    background: none;
    background-color: #1a1a1a;
    border-radius: 5px;
    width: 95%;
    margin-bottom: 10px;
    color: aliceblue;
    margin-right: 5px;
}

.contato-form textarea{
    padding: 10px;
    background: none;
    border: none;
    resize: none;
    background-color: #1a1a1a;
    border-radius: 5px;
    width: 98%;
    height: 120px;
    color: aliceblue;
}

.contato-form input, textarea:focus{
    outline: none;
}

/* end */

.footer{
    border-top: 1px solid crimson;
}

.footer p{
    font-family: 'Poppins', sans-serif;
}









/*  */
@media (max-width:730px){
    .about-content img{
        margin-bottom: 10px;
    }

    .box{
        width: 7rem;
        margin: auto;
        margin-bottom: 10px;
    }

    .box img{
        width: 3rem;
        height: 3rem;
    }

    .skill-content{
        column-count: 2;
        margin: auto;
    }

    .img-container{
        margin: auto;
    }

    .contato-form .inputbox input{
        width: 100%;
    }

    .contato-form textarea{
        width: 100%;
    }

}
