*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

/* Header */

.header{
    position: fixed;
    top: 0;
    left: -26rem;
    z-index: 10000;
    padding: 20px;
    background-color:rgba(255, 0, 0, 0.24);
    height: 100%;
    width: 15rem;
    transition: 1s;
}

.header img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.A{
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 50px;
    position: absolute;
    top: 9rem;
    left: 2rem;
}

.navbar{
    padding: 40% 0;
}

.navbar ul{
    display: block;
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    font-family: poppins;
    color: aliceblue;
    margin: 2rem 0;
    font-size: 1.5rem;
    transition: 1s;
    font-weight: bolder;
}

.navbar ul li a:hover{
    color: red;
}

#menu-btn{
    position: fixed;
    top: 8rem;
    left: 2rem;
    color: white;
    font-size: 40px;
    line-height: 5rem;
    cursor: pointer;
    z-index: 1100;
    display: inline-block;
}

.active{
    left: 0;
}

.socials{
    font-size: 30px;
    color: white;
}

.socials i{
    margin-left: 10px;
    transition: 1s;
}

.socials a{
    text-decoration: none;
    color: aliceblue;
}

.socials i:hover{
    color: red;
}


/* banner */

.banner{
    background:linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.80)),url(./imgP5/fundo2.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudoB{
    color: aliceblue;
    font-family: poppins;
    text-align: center;
    font-weight: bolder;
    text-transform: capitalize;
}

.conteudoB h2{
    font-size: 70px;
    text-shadow: 0 40px 55px aliceblue;
}

/* sobre */

.sobre{
    padding: 100px;
}

.sobreflex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sobreconteudo{
    color: aliceblue;
    font-family: poppins;
    font-size: 16px;
    padding-right: 40px;
    margin-bottom: 20px;
}

.sobreconteudo p{
    margin-bottom: 10px;
    font-weight: bolder;
}

.langs{
    color: aliceblue;
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.langs p{
    margin-bottom: 10px;
}

.bar1{
    width: 140px;
    height: 10px;
    border:1px solid aliceblue;
}

.bar2{
    width: 126px;
    height: 8px;
    background-color: rgba(212, 11, 11, 0.767);
}

.bar3{
    width: 56px;
    height: 8px;
    background-color: rgba(212, 11, 11, 0.767);
}

span{
    color: rgb(212, 11, 11);
    font-weight: bolder;
}

/* Servicos */

.servicos{
    padding: 100px;
}

.servicoflex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.servicoconteudo{
    width: 300px;
    height: 200px;
    border:1px solid white;
    background-color: rgb(212, 11, 11);
    color: aliceblue;
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    transition: 1s;
}

.servicoconteudo:hover{
    background-color: green;
}

.servicoconteudo i{
    font-size: 40px;
    padding: 10px 0;
}


/* Projetos */

.projetos{
    padding: 100px 0;
}

.projetos img{
    width: 75%;
    height: 75%;
    object-fit: cover;
}

/* .projetoflex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flexp1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

/* .conteudoP{
    color: aliceblue;
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
} */

/* .conteudoP img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    margin-bottom: 10px;
} */

/* .imgRE{
    width: 60%;
    height: 60%;
    object-fit: cover;
} */

.subtitles a{
    text-decoration: none;
    color: aliceblue;
    transition: 1s;
}

.subtitles a:hover{
    color: red;
}

.linksM{
    color: aliceblue;
    margin-top: 60px;
    padding: 0 10px;
    display: none;
}

/* Contato */

.contato{
    padding: 100px;
    background: url(./imgP5/fundo1.png);
    background-size: cover;
}

.contatoform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contatoform h2{
    color: aliceblue;
    font-family: poppins;
    margin-bottom: 20px;
    text-align: center;
}

.form1 input[type="text"],[type="email"]{
    display: block;
    margin-bottom: 20px;
    background: none;
    border: none;
    border: 1px solid red;
    height: 40px;
    color: aliceblue;
    width: 220px;
    padding: 10px;
}

.form1 input[type="text"],[type="email"]:focus{
    outline: none;
}

.form1 textarea{
    resize: none;
    border:none;
    background: none;
    border: 1px solid red;
    height: 100px;
    width: 220px;
    padding: 10px;
    color: aliceblue;
    margin-bottom: 10px;
}

.form1 textarea:focus{
    outline: none;
}

.form1 input[type="submit"]{
    display: block;
    margin-bottom: 20px;
    background: none;
    border: none;
    border: 1px solid red;
    height: 40px;
    color: aliceblue;
    width: 220px;
    transition: 1s;
    
}

.form1 input[type="submit"]:hover{
    background-color: red;
}



/* Fim */

.fim{
    background-color: rgb(3, 3, 26);
    width: 100%;
    height: 80px;
    border-top: 1px solid rgba(255, 0, 0, 0.24);
}

.fim p{
    text-align: center;
    color: aliceblue;
    font-family: poppins;
    padding-top: 10px;
}



/* rr */

@media (max-width:991px){
    .projetoflex{
        flex-wrap: wrap;
    }

    /* .projetos{
        padding: 50px;
    } */

    .projetos img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .linksM{
        display: block;
    }
  
}

@media (max-width:340px){
    .sobre{
        padding: 100px 0px;
        margin-left: 30px;
    }

    .servicos{
        padding: 100px 15px;
    }

    .projetos{
        padding: 100px 10px;
    }

    /* .conteudoP img{
        width: 80%;
        height: 80%;
        object-fit: cover;
    } */

    .contato{
        padding: 100px 15px;
    }

}
